.jumbotron {
    background-image: url("../img/j-bkg.jpg"); 
    background-size: cover;
    background-position-y: bottom;
    height: 500px;
}

.slide-specs {
    width: 50%;
    height: 500px;  
}

/* .carousel-specs {
    width: 50%;
    height: 500px;
} */

/* .slow-charger-car {
    position: relative;
    padding: 1rem;
    margin: 1rem -0.75rem 0;
    border: solid #545657;
    border-width: 1px 0 0;
} */