#navbarSupportedContent > ul > li > a {
    color: #6d6d6f;
}

#navbarSupportedContent > ul > li > a:hover {
    color: #97bf13;
}

.jumbotron {
    background-image: url("../img/j-bkg.jpg"); 
    background-size: cover;
    background-position-y: bottom;
    height: 500px;
    border-top: 2px solid #97bf13;
    border-bottom: 2px solid #97bf13;
}
.jumbotron-content {
    background-color: #24222261;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
.info-secs {
    min-height: 300px;
    border-bottom: 2px solid #97bf13;
}
.content-home-1 {
    background-image: url("../img/content-home-1.jpg");
    background-size: cover;
    background-position: center;
    min-height: 300px;
}
.content-home-2 {
    background-image: url("../img/content-home-2.jpg");
    background-size: cover;
    background-position: center;
    min-height: 300px;
}

.content-about-1 {
    background-image: url("../img/content-about-1.jpg");
    background-size: cover;
    background-position: center;
    min-height: 300px;
}

.content-about-2 {
    background-image: url("../img/content-about-2.jpg");
    background-size: cover;
    background-position: center;
    min-height: 300px;
}

.form-specs {
    width: 50% !important;
    min-height: 400px;
}

.footer {
    background-color: #201f1f;
    min-height: 300px;
}

@media only screen and (max-width: 768px) {
    .form-specs {
        width: 100% !important;
        min-height: 400px;
    }
  }
  
/* Image Credits
Photo by <a href="https://unsplash.com/@noahbuscher?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Noah Buscher</a> on <a href="https://unsplash.com/s/photos/green-energy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
Photo by <a href="https://unsplash.com/@redzeppelin?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Red Zeppelin</a> on <a href="https://unsplash.com/s/photos/green-energy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
Photo by <a href="https://unsplash.com/es/@nataliepedigo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Natalie Pedigo</a> on <a href="https://unsplash.com/s/photos/teamwork?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
*/